<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
  	<servlet-name>first</servlet-name>
  	<servlet-class>com.antra.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>first</servlet-name>
  	<url-pattern>/fs</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>second</servlet-name>
  	<servlet-class>com.antra.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>second</servlet-name>
  	<url-pattern>/ss</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>third</servlet-name>
  	<servlet-class>com.antra.ThirdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>third</servlet-name>
  	<url-pattern>/th</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>emp</servlet-name>
  	<servlet-class>com.antra.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>emp</servlet-name>
  	<url-pattern>/emp</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ck1</servlet-name>
  	<servlet-class>com.antra.CreateCookieEx</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ck1</servlet-name>
  	<url-pattern>/ck1</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>sessionEx1</servlet-name>
  	<servlet-class>com.antra.SessionEx</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sessionEx1</servlet-name>
  	<url-pattern>/session1</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>filter</filter-name>
  	<filter-class>com.antra.FilterEx</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>